.logo-header {
  /* Daybreak Blue / 1 */
  background: #e6f7ff;
  /* Daybreak Blue / 3 */
  border: 1px dashed #91d5ff;
  border-radius: 2px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: #0084ff;
}
