.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  &--100 {
    max-width: 120px !important;
  }

  &--200 {
    max-width: 140px !important;
  }
}

.fs-caption {
  font-size: $fs-caption;
}

.fs-overline {
  font-size: $fs-overline;
}
